$input-padding: .8em 1em;
$theme-border-radius: 0;
$font-family: "Roboto";
$font-color-primary: #333;
$theme-background-color: rgba(255,255,255,.9);
$theme-selection-color: rgba(106, 172, 214, .6);


body {
	/* CHANGE FOR MOBILE */
	color: $font-color-primary;
	font-family: $font-family;
	font-style: normal;
	font-weight: 100 !important;
}
h1, h2, h3, h4 {
	font-weight: 100;
}
.navbar {
	background-color: $theme-background-color;
	border-radius: $theme-border-radius;
}
.header {
	padding-top: 40px;
	padding-bottom: 70px;
}
